.container-formconv {
  width: 50%;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-add-convocatoria {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  background-color: #007290;
  color: #ffffff;
  text-align: center;
  padding: 20px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.convocatoria-form {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333333;
  padding: 0 10px;
}

.input-field, .textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 1px;
  font-size: 14px;
}

.textarea {
  height: 120px;
  resize: vertical;
}

.fecha-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.button-group {
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.siguiente {
  background-color: #0093B3;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.siguiente:hover {
  background-color: #007a96;
}

.cancelar {
  background-color: #B0C4D8;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelar:hover {
  background-color: #9eb1c5;
}
