.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
}

.register-box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 650px;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 5px;
  color: #007b9e;
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left !important; 
  display: block;
  width: 100%;
  color: #333;
}

input {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #007b9e;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.success-message {
  background-color: #d4edda;
  padding: 10px;
  color: #155724;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.btn-registrarse,
.btn-cancelar {
  padding: 10px 20px;
  border: none;
  border-radius: 6spx;
  font-weight: bold;
  cursor: pointer;
}

.btn-registrarse {
  background-color: #007b9e;
  color: white;
}

.btn-cancelar {
  background-color: #ccc;
  color: #333;
}


