.mobile-view {
  display: none;
}

@media (max-width: 768px) {
  .seccion {
    display: none;
  }

  .mobile-view {
    display: block;
    margin-top: 1rem;
  }

  .user-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }

  .user-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
  }

  .user-details {
    margin-top: 10px;
  }

  .toggle-icon {
    font-size: 18px;
  }
}

/* Botones */
.botones {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  justify-content: center; /* Centra los botones si no ocupan todo el ancho */
}

.botones button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 100px;              /* ocupa todo el ancho del contenedor */
  max-width: 100%;
}

/* Colores personalizados */
.btn-descargar {
  background-color: #007A8F; 
}

.btn-cancelar {
  background-color: #0099B3; 
}

.botones button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
} 

/* Estilo base para el botón Salir */
.botones button:last-child {
  background-color: white;
  color: black;
  border: 2px solid #007A8F; /* borde que contraste */
  width: 100px;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

/* Estado deshabilitado del botón Salir */
.botones button:last-child:disabled {
  background-color: #f0f0f0;
  color: #999999;
  cursor: not-allowed;
  border-color: #cccccc;
}

/* Opcional: efecto hover solo si está activo */
.botones button:last-child:not(:disabled):hover {
  background-color: #007A8F;
}


.seccion-container h1 {
  text-align: center;
}

 