.mobile-view {
  display: none;
}

@media (max-width: 768px) {
  .seccion {
    display: none;
  }

  .mobile-view {
    display: block;
    margin-top: 1rem;
  }

  .user-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }

  .user-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
  }

  .user-details {
    margin-top: 10px;
  }

  .toggle-icon {
    font-size: 18px;
  }
}

/* Botones */
.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  justify-content: stretch; /* Centra los botones si no ocupan todo el ancho */
}

.botones button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 100%;              /* ocupa todo el ancho del contenedor */
  max-width: 100%;
}

/* Colores personalizados */
.btn-descargar {
  background-color: #007A8F; 
}

.btn-cancelar {
  background-color: #0099B3; 
}

.botones button:disabled {
  background-color: #007A8F; 
  cursor: not-allowed;
}


 